:root {
  --main-color: #e83ed0;
  --dark-white: #ffffffcc;
  --gray: #666666;
  --ligth-gray: #cccccc;
  --transition: 0.3s;
  --transition-slow: 0.6s;
}

/* //font-family */
* {
  font-family: "Nunito Sans", sans-serif;
}

.text-main {
  color: var(--main-color);
}

.text-gray {
  color: var(--gray);
}

.text-light {
  color: var(--ligth-gray);
}

.bg-main {
  background-color: var(--ligth-gray) !important;
  backdrop-filter: blur(5px) !important;
}

.subtitle {
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.subtitle::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  display: inline-block;
  margin-right: 20px;
  position: relative;
  margin-bottom: 4px;
}

.subtitle::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  display: inline-block;
  margin-left: 20px;
  position: relative;
  margin-bottom: 4px;
}

.bottom-cover {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.bottom-cover::after {
  content: "";
  background-color: white;
  height: 70px;
  bottom: -40px;
  left: -20px;
  width: calc(50% + 20px);
  position: absolute;
  transform: skewY(4deg);
}

.bottom-cover::before {
  content: "";
  background-color: white;
  height: 70px;
  bottom: -40px;
  right: -20px;
  width: calc(50% + 20px);
  position: absolute;
  transform: skewY(-4deg);
}

.up-navbar {
  background-color: transparent;
  transition: var(--transition-slow);
  backdrop-filter: blur(7px);
}

.up-navbar .navbar-brand {
  color: var(--gray);
  font-size: 30px;
  font-weight: 700;
  transition: var(--transition);
}

.up-navbar .navbar-brand:hover {
  color: var(--main-color);
  font-weight: 700;
}

.up-navbar .nav-link {
  color: var(--gray);
  font-size: 20px;
  transition: var(--transition);
}

.up-navbar .nav-link.active {
  color: var(--main-color);
  font-weight: 700;
  transition: var(--transition);
}

.up-navbar .nav-link:hover {
  color: var(--main-color);
}

.masthead {
  background: linear-gradient(#0000006c, #0000006c),
    url("./media/tamanna-rumee-eD1RNYzzUxc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 500px;
  position: relative;
}

.search-bar {
  background-color: white;
  height: 70px;
  border-radius: 40px;
  position: relative;
}

.search-bar .search-input {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  border: none;
  padding-left: 35px;
}

.search-bar .search-input:focus {
  border: none;
  outline: none !important;
}

.search-bar .btn-search {
  background-color: var(--main-color);
  position: absolute;
  right: 0px;
  width: 70px;
  height: 70px;
  border-radius: 0px 35px 35px 35px;
}

#containBall {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: var(--main-color);
  border-radius: 35px;
  bottom: -10px;
  left: calc(50% - 35px);
}

/* Animazione pallina con freccia */
.upDown {
  position: relative;
  animation: upDown 1.5s linear infinite;
}
@keyframes upDown {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}

.ad-card .ad-details {
  width: 90%;
  padding: 20px 40px;
  position: relative;
  top: -40px;
  background-color: white;
}
